.wrapper {
    padding-bottom: 4rem;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 500px;
    width: 100%;
    color: #03045e;
    font-size: 12px;
}

.flex-column-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    height: 100%;
    width: 75%;
    margin: 4rem;
}

.flex-column-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #90e0ef;
    text-align: left;
    height: 650px;
    width: 25%;
    margin: 2em;
    margin-left: 4em;
    margin-right: 8em;
    padding: 0.5em;
}

@media screen and (max-width: 850px) {
    div.flex-column-right {
      display: none;
    }

    div.flex-container {
        height: auto;
    }
  }

.flex-child-left {
    display: flex;
    flex-wrap: wrap;
    background-color: #90e0ef;
    height: 50%;
    flex-basis: 300px;
    margin: 5px;
}

.flex-child-left-child-fill {
    background-color: #00b4d8;
    color: white;
    text-align: left;
    height: 40%;
    width: 100%;
    padding: 2em;
}

.flex-child-left-child-text {
    background-color: #90e0ef;
    height: 20%;
    width: 100%;
    padding: 2em;
}

.flex-child-left-child-fill-special {
    height: 20%;
}

.flex-child-left-child-text-special {
    height: 40%;
}

.flex-child-right-fill {
    background-color: #00b4d8;
    color: black;
    height: 25%;
    width: 100%;
    margin: 1em;
}

.flex-child-right-text {
    height: 15%;
    width: 100%;
    padding: 1em;
}

.blog-heading {
    text-align: left;
    padding-bottom: 2em;
}

.fill-mid-blue {
    background-color: #00b4d8;
}

h2, h3 {
    margin: 0;
    padding: 0;
}

