.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 1px;
    align-content: center;
    padding: 10px;
    color: #03045e;
    padding-bottom: 100px;
}

@media screen and (max-width: 800px) {
    div.grid-container {
        display: flex;
        flex-direction: column;
    }

    form.payment-form {
        display: flex;
        flex-direction: column;
        
    }

    fieldset.billing-form {
        padding-left: 1em;
    }

}

.grid-container > div {
    text-align: center;
    padding: 10px 0;
  }

.payment-header {
    grid-column: 1 / span 6;
    grid-row: 1;
}

.payment-options {
    grid-column: 1 / span 6;
    grid-row: 2;
}

.payment-form {
    grid-column: 1 / span 6;
    grid-row: 3;
}

.payment-graphics {
    height: 100px;
    width: 200px;
    padding-left: 4em;
    padding-right: 4em;
}

h1 {
    font-size: 32px;
}

legend {
    margin-bottom: 1em;
    font-weight: bold;
}

p {
    font-size: 12px;
}

.billing-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form {
    display: flex;
    border: none;
    color: #7f7f7f;
}

fieldset {
    flex-basis: 50%;
    border: none;
    box-shadow: none;
    padding-left: 4em;
}

label {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input, select {
    margin-bottom: 1em;
    padding: 0.75em;
    border-color: #90e0ef;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    color: #03045e;
    width: 300px;
}

.short-input {
    width: 150px;
}

.city-zip {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 50px;
}

.city-label  {
    grid-column: 1;
    grid-row: 1;
}

.city-input {
    grid-column: 1;
    grid-row: 2;
}

.zip-label {
    grid-column: 2;
    grid-row: 1;
}

.zip-input {
    grid-column: 2;
    grid-row: 2;
}

.credit-card {
    display: flex;
    flex-direction: row; 
}

.credit-card > input {
    width: 200px;
}

.credit-card > img {
    height: 35px;
    margin-left: 1em;
}

.blue-border {
    border-color: #90e0ef;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
}